# WRDS licensed data (large, do not commit)
data/raw/

# Raw model formats (not used)
models/*.pkl

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# macOS
.DS_Store

# R
.Rhistory
.RData

# Jupyter
.ipynb_checkpoints/
.claude/
